.container{
  max-width: 600px;
}
.btn{
  background: #43d9be;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}
.btn:focus{
  outline: none !important;
}

.timestamp{
  font-size: 10px;
}

.span-col{
  min-width: 20px;
}

.chat-div, .chat-div p {
  margin-bottom: 0;  
}

.chat-content col-2{
  flex-wrap: nowrap;
}

.chat-div:hover{
  background-color: #effdfa;
}

.profile-title{
  color: #43d9be;
}


